@media screen and (max-width: 1335px) {
    .container {
        max-width: 1140px !important;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px !important;
    }

    .menu {
        gap: 16px;
      }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px !important;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 96% !important;
    }
}
